@{
    ViewData["Title"] = "Home Page";
}

<div class="hero_bg_box">
    <img src="images/hero-bg.png" alt="">
</div>

<!-- slider section -->
<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Transformando vidas, construyendo bienestar mental
                                </h1>
                                <p>
                                    Tu salud mental, nuestra prioridad. Consultorio de confianza, información y apoyo para tu bienestar emocional.
                                </p>
                                <div class="btn-box">
                                    @* <a href="" class="btn1">
                                        Read More
                                    </a> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    ATENCION DE CALIDAD A NIVEL PROFESIONAL
                                </h1>
                                <p>
                                    Tu salud mental, nuestra prioridad. Consultorio de confianza, información y apoyo para tu bienestar emocional.
                                </p>
                                <div class="btn-box">
                                    @* <a href="" class="btn1">
                                        Read More
                                    </a> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    AGRADECEMOS TU PREFERENCIA
                                </h1>
                                <p>
                                    Tu salud mental, nuestra prioridad. Consultorio de confianza, información y apoyo para tu bienestar emocional.
                                </p>
                                <div class="btn-box">
                                   @*  <a href="" class="btn1">
                                        Read More
                                    </a> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
    </div>
</section>
<!-- end slider section -->
</div>

<!-- department section -->
@* 
<section class="department_section layout_padding">
    <div class="department_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Our Departments
                </h2>
                <p>
                    Asperiores sunt consectetur impedit nulla molestiae delectus repellat laborum dolores doloremque accusantium
                </p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Cardiology
                            </h5>
                            <p>
                                fact that a reader will be distracted by the readable page when looking at its layout.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Diagnosis
                            </h5>
                            <p>
                                fact that a reader will be distracted by the readable page when looking at its layout.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Surgery
                            </h5>
                            <p>
                                fact that a reader will be distracted by the readable page when looking at its layout.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                First Aid
                            </h5>
                            <p>
                                fact that a reader will be distracted by the readable page when looking at its layout.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View All
                </a>
            </div>
        </div>
    </div>
</section> *@

<!-- end department section -->
<!-- about section -->

<section class="about_section layout_margin-bottom">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/images/about-img.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            ACERCA DE <span>NOSOTROS</span>
                        </h2>
                    </div>
                    <p>
                        Somos un equipo dedicado en el Consultorio Psiquiátrico, comprometidos con tu bienestar mental. Nuestra misión es proporcionar cuidado integral, personalizado y confidencial. Aquí encontrarás un espacio seguro donde la comprensión y el apoyo se entrelazan para ayudarte a alcanzar una salud mental plena. Estamos aquí para acompañarte en tu viaje hacia la recuperación y el equilibrio emocional.
                    </p>
@*                     <a href="">
                        Read More
                    </a> *@
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- doctor section -->

<section class="doctor_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                NUESTROS MEDICOS
            </h2>
            <p class="col-md-10 mx-auto px-0">
                Médicos altamente capacitados y comprometidos con tu salud mental. Nuestros profesionales poseen una amplia experiencia en el diagnóstico y tratamiento de diversas condiciones psiquiátricas.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/d1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="social_box">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            @* <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a> *@
                        </div>
                        <h5>
                            Alessandra Medinaceli
                        </h5>
                        <h6 class="">
                            Terapeuta
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/d2.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="social_box">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            @* <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a> *@
                        </div>
                        <h5>
                            Andres Ruiz Flores
                        </h5>
                        <h6 class="">
                            Psicologo
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/d3.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="social_box">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            @* <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a> *@
                        </div>
                        <h5>
                            Angela Alanoca
                        </h5>
                        <h6 class="">
                            Psiquiatra
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            @* <a href="">
                View All
            </a> *@
        </div>
    </div>
</section>

<!-- end doctor section -->
<!-- contact section -->
@* <section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Ponerse en Contacto
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container contact-form">
                    <form action="">
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div>
                                    <input type="text" placeholder="Your Name" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <input type="text" placeholder="Phone Number" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="email" placeholder="Email" />
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Message" />
                        </div>
                        <div class="btn_box">
                            <button>
                                ENVIAR
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container">
                    <div class="map">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@
<!-- end contact section -->
<!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="mx-5 my-5">
            <div class="heading_container heading_center ">
                <h2>
                    Testimonial Pacientes
                </h2>
            </div>
            <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-11 col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="~/images/client.jpg" alt="" />
                                    </div>
                                    <div class="detail-box">
                                        <div class="name">
                                            <h6>
                                                Adolf Trostky Musolini
                                            </h6>
                                        </div>
                                        <p>
                                            Mi experiencia en el consultorio psiquiátrico fue transformadora. El equipo médico no solo trató mis síntomas, sino que también cultivó un ambiente de comprensión y apoyo.
                                        </p>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-11 col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="~/images/client.jpg" alt="" />
                                    </div>
                                    <div class="detail-box">
                                        <div class="name">
                                            <h6>
                                                Karl Radek Nietzsche
                                            </h6>
                                        </div>
                                        <p>
                                            A través de la terapia y el cuidado personalizado, encontré las herramientas para enfrentar mis desafíos mentales. Hoy, puedo afirmar con gratitud que he sanado y redescubierto la alegría de vivir.
                                        </p>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-11 col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="~/images/client.jpg" alt="" />
                                    </div>
                                    <div class="detail-box">
                                        <div class="name">
                                            <h6>
                                                Fernando Vaca
                                            </h6>
                                        </div>
                                        <p>
                                            Hoy, puedo afirmar con certeza que he superado mi pasado como expsicópata. Este consultorio no solo me ofreció curación, sino también una nueva oportunidad para vivir una vida significativa y enriquecedora
                                        </p>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel_btn-container">
                    <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
                        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</section>

<!-- end client section -->
