<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPsiquiatricoMVC</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <title> Orthoc </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/WebPsiquiatricoMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="hero_area">

        @*  *@
        <!-- header section strats -->
        <header style="background-color : rgba(23,128,102)" class="header_section">
            <div class="container">
                <nav style="background-color : rgba(23,128,102)" class="navbar navbar-expand-lg custom_nav-container " style="@(Context.Request.Path != "/" ? "background-color: white;" : "")">
                    <a class="navbar-brand" href="index.html">
                        <span>
                            Psiquiatrico
                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div style="background-color : rgba(23,128,102)" class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Home" asp-action="Index" style="color : black">Inicio<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Personales" asp-action="Index" style="color : black">Personal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Pacientes" asp-action="Index" style="color : black">Pacientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Citums" asp-action="Index" style="color : black">Citas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Usuarios" asp-action="Index" style="color : black">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                @if (User.Identity?.IsAuthenticated == false)
                                {
                                    <a asp-controller="Account" asp-action="Login" style="color: rgba(244,227,221)">INICIAR_SESION</a>
                                }
                                else
                                {
                                    @await Html.PartialAsync("_LogoutPartial")
                                }
                            </li>
                            @* <form class="form-inline">
                                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
@*                                     <i class="fa fa-search" aria-hidden="true">Iniciar Sesion</i> *@
                                    @* @if (User.Identity?.IsAuthenticated == false)
                                    {
                                        <a asp-controller="Account" asp-action="Login" style="color: wheat">Iniciar Sesión</a>
                                    }
                                    else
                                    {
                                        @await Html.PartialAsync("_LogoutPartial")
                                    }
                                </button> *@
@*                                 <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                                    <i class="fa fa-search" aria-hidden="true">Iniciar Sesion</i>
                                </button> *@
                            @* </form> *@
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    <!-- end header section -->
    @RenderBody()

    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 footer_col">
                    <div class="footer_contact">
                        <h4>
                            Llegar a ...
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Av. Rojo Amanecer # 77
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    +591 68310370
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    ferchi77vaca@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true">__Psiquiatrico</i>
                        </a>
                        @* <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a> *@
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 footer_col">
                    <div class="footer_detail">
                        <h4>
                            Acerca de
                        </h4>
                        <p>
                            Beatae provident nobis mollitia magnam voluptatum, unde dicta facilis minima veniam corporis laudantium alias tenetur eveniet illum reprehenderit fugit a delectus officiis blanditiis ea.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 mx-auto footer_col">
                    <div class="footer_link_box">
                        <h4>
                            Links
                        </h4>
                        <div class="footer_links">
                            <a class="active" href="index.html">
                                Home
                            </a>
                            <a class="" href="about.html">
                                About
                            </a>
                            <a class="" href="departments.html">
                                Departments
                            </a>
                            <a class="" href="doctors.html">
                                Doctors
                            </a>
                            <a class="" href="contact.html">
                                Contact Us
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 footer_col ">
                    @* <h4>
                        Newsletter
                    </h4>
                    <form action="#">
                        <input type="email" placeholder="Enter email" />
                        <button type="submit">
                            Subscribe
                        </button>
                    </form> *@
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="https://html.design/">Free Html Templates<br><br></a>
                    &copy; <span id="displayYear"></span> Distributed By
                    <a href="https://themewagon.com/">ThemeWagon</a>
                </p>

            </div>
        </div>
    </footer>
    <!-- footer section -->
    <!-- jQery -->
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <!-- owl slider -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- custom js -->
    <script type="text/javascript" src="~/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
